@import url("whitespace-reset.css");

/* General */

html {
  font-size: 20px;
  font-family: "Roboto", "Helvetica Neue", Helvetica, sans-serif;
}

#intro {
  background-color: #1e1d20;
  color: #f5f7ff;
  height: 1001px;
  box-sizing: border-box;
}

#maestro {
  background-color: #f5f7ff;
  color: #1e1d20;
  box-sizing: border-box;
}

#projects {
  background-color: #9d9ea3;
  box-sizing: border-box;
}

#projects li {
  border: 2px solid #1e1d20;
  border-radius: 5px;
  height: 500px;
  padding: 15px;
  text-align: center;
}

#contact {
  background-color: #f5f7ff;
}

h1 {
  font-size: 3rem;
  text-align: center;
}

h2 {
  font-size: 2.2rem;
  text-align: center;
}

h3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 25px 0;
}

header {
  padding: 15px;
  position: fixed;
}

.profile-name {
  font-size: 2rem;
  margin: 2rem 0;
  font-weight: 900;
}

#contact h3 {
  color: #1e1d20;
}

#projects > ul {
  -ms-align-items: flex-start;
  align-items: flex-start;
  margin-top: 75px;
}

#projects img {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  width: 100%;
}

h4 {
  align-items: center;
  display: flex;
  font-size: 1.2rem;
  font-weight: 700;
  height: 35px;
  justify-content: center;
  margin: 20px 0;
  text-align: center;
}

h5 {
  color: #fff;
  font-size: 0.8rem;
  font-weight: 400;
}

p {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.7rem;
  margin-bottom: 15px;
}

a.maestro {
  color: #900c3f;
}

a {
  color: #000;
  text-decoration: none;
}

li {
  margin: 0 2%;
  width: 25%;
}

section {
  padding: 100px 15%;
}

.flexbox {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.btn {
  background: #900c3f;
  border-color: #900c3f;
  color: #f5f7ff;
  box-shadow: 0 0 3px #900c3f;
  border-radius: 5px;
  font-weight: 700;
  padding: 10px;
  text-align: center;
}

.icon {
  background-color: #1e1d20;
  border: solid 1px #1e1d20;
  border-radius: 100%;
  margin: 2%;
  min-width: 34px;
  padding: 3px;
  width: 100%;
}

.btn:hover,
.icon:hover {
  background-color: #900c3f;
  border-color: #900c3f;
}

.horz-center {
  -ms-align-items: center;
  align-items: center;
  flex-direction: column;
}

.vert-center {
  -ms-align-items: center;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.logo-links {
  position: fixed;
  z-index: 1;
}

#logo {
  margin: 25px;
  opacity: 0.5;
  position: fixed;
  width: 60px;
}

/* ---------------------------------

               intro

------------------------------------ */

#avatar {
  border-radius: 100%;
  display: block;
  max-width: 350px;
  min-width: 300px;
  object-fit: contain;
}

#intro > p {
  text-align: center;
  width: 550px;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 36px;
}

/* ---------------------------------

               #maestro

------------------------------------ */

#maestro {
  overflow: hidden;
  justify-content: center;
  padding-bottom: 0;
}

#maestro-info-container {
  margin-bottom: 50px;
  align-items: center;
}

#maestro-title-container,
#maestro-video-container {
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
}

#maestro-logo {
  display: inline-block;
  width: 100%;
  max-width: 500px;
  min-width: 200px;
}

#maestro h2 {
  display: inline-block;
}

#maestro-info-container,
#maestro-video-container {
  margin-top: 75px;
}

#maestro-info-container > div,
#maestro-video-container > div {
  width: 50%;
}

#maestro-info-container > div:first-of-type,
#maestro-video-container > div:first-of-type {
  margin-right: 2.5%;
}

#setup-command-gif {
  height: auto;
  max-width: 100%;
  width: auto;
}

.managing-apps {
  max-width: 100%;
}

#maestro-info-container > div:last-of-type,
#maestro-video-container > div:last-of-type {
  margin-left: 2.5%;
}

#maestro-video-container div:last-of-type > p {
  width: 75%;
}

.maestro-manage-container {
  max-width: 100%;
  display: flex;
  align-items: flex-end;
  padding-top: 50px;
  border-top: 1px solid #eee;
}

.maestro-manage-container a {
  display: flex;
  align-items: flex-end;
}

#maestro-repo-btn {
  margin: 25px;
  width: 228px;
}

#maestro-description {
  padding-top: 50px;
  text-align: center;
}

/* ---------------------------------

              contact

------------------------------------ */

#resume-logo {
  cursor: pointer;
  width: 35px;
  position: fixed;
  top: 5px;
  left: 5px;
}

#bowtie {
  cursor: pointer;
  width: 35px;
  position: fixed;
  top: 55px;
  left: 5px;
}

#github-logo {
  cursor: pointer;
  width: 35px;
  position: fixed;
  top: 105px;
  left: 5px;
}

#linkedin-logo {
  cursor: pointer;
  width: 35px;
  position: fixed;
  top: 155px;
  left: 5px;
}

#contact {
  padding-top: 50px;
}

#contact h3 {
  margin-bottom: 10px;
}

#contact ul {
  width: 20%;
}

#contact li {
  margin: 6%;
}

/* ---------------------------------

           media queries

------------------------------------ */

@media (max-width: 1100px) {
  h4 {
    font-size: 1.1rem;
  }

  #logo {
    margin: 20px;
    width: 55px;
  }

  #projects p {
    font-size: 0.85rem;
    line-height: 1.5rem;
  }
}

@media (max-width: 920px) {
  section {
    padding: 2% 15%;
  }

  li {
    margin-bottom: 100px;
    width: 100%;
  }

  li:last-of-type {
    margin-bottom: 0;
  }

  #projects p {
    font-size: 1rem;
    line-height: 1.7rem;
  }

  #projects > ul {
    -ms-align-items: center;
    align-items: center;
    flex-direction: column;
    width: 75%;
  }

  #logo {
    width: 50px;
  }

  #maestro-info-container,
  #maestro-video-container {
    -ms-align-items: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
  }

  #maestro-info-container > div:first-of-type,
  #maestro-video-container > div:first-of-type {
    margin-right: 0;
  }

  #maestro-info-container > div:last-of-type,
  #maestro-video-container > div:last-of-type {
    margin-left: 0;
  }

  #maestro-info-container > div,
  #maestro-video-container > div {
    width: 90%;
  }

  #deploy-command-gif,
  div > iframe {
    margin-bottom: 50px;
  }

  #contact ul {
    width: 30%;
  }

  #contact li {
    margin: 8%;
  }
}

@media (max-width: 690px) {
  #maestro-logo {
    margin-bottom: 25px;
    width: 75px;
  }

  #maestro-title-container {
    -ms-align-items: center;
    align-items: center;
    flex-direction: column;
  }

  #maestro-logo {
    margin-right: 0;
  }

  #avatar {
    max-height: 20vh;
  }
}

@media (max-width: 570px) {
  #intro > p {
    width: 100%;
  }

  h1 {
    font-size: 2.7rem;
    width: 80vw;
  }

  h2 {
    font-size: 1.9rem;
  }

  section {
    padding: 65px 15%;
  }

  #maestro-info-container {
    margin-top: 25px;
  }

  #maestro-repo-btn {
    align-self: center;
  }

  #projects > ul {
    width: 100%;
  }
}

@media (max-width: 465px) {
  #maestro-info-container > div {
    width: 100%;
  }

  #maestro-logo {
    width: 60px;
  }

  #contact li {
    margin: 15%;
  }

  #projects > ul {
    width: 100%;
  }
}

@media (max-width: 400px) {
  html {
    font-size: 16px;
  }

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.7rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  #maestro-repo-btn {
    width: 180px;
  }

  #projects > ul {
    margin-top: 50px;
  }

  #projects li {
    margin-bottom: 50px;
  }

  #projects li:last-of-type {
    margin-bottom: 0;
  }
}
